.page-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mdl-textfield {
    width: 90%;
}

.startSeitenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}



.containerLeerWortschatz p {
    margin-top: 20px;
}

.vocabularyList {
    list-style: none;
    padding: 5px;
    margin: 30px auto;
    max-width: 600px;
}

.vocabularyList li  {
    background-color: #3f51b5; 
    color: #ffffff;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.1rem;
    align-items: center;

}

.vocabularyList li:hover {
    background-color: #6571b4;
}